.vscode/settings.json
esp32/hello_world/.vscode/tasks.json
esp32/hello_world/.vscode/settings.json
esp32/hello_world/.vscode/launch.json
esp32/hello_world/.vscode/c_cpp_properties.json
esp32/hello_world/.devcontainer/devcontainer.json
